:vars {
  --background: #11121D;
  --foreground: #a9b1d6;
  --red: #f7768e;
  --green: #9ece6a;
  --blue: #7aa2f7;
}

* {
  all: unset;
  color: var(--foreground);
  font-size: 11px;
  font-family: "JetBrainsMono NerdFont", sans-serif;
  border-radius: 10px;
}

button {
  background-size: 400% 400%;
}

#workspaces {
  padding: 10px;
  min-width: 0px;
  background-color: var(--background);
}

#workspaces > button {
  padding: 0px 5px;
  transition: padding 0.08s;
  background-color: var(--blue);
}

#workspaces > button.active,
#workspaces > button:hover {
  padding: 0px 15px;
  background-color: var(--green);
}

#workspaces > button:hover {
  background-color: var(--red);
}

#date-time {
  padding: 0px 10px;
  background-color: var(--background);
}

#date-time > label,
#workspaces > button > label {
  font-weight: 900;
}

#cpu-glyph,
#ram-glyph {
    font-size: 10px;
}

#cpu-progress-bar,
#ram-progress-bar {
  color: transparent;
  background-color: var(--background);
}

#cpu-progress-bar {
  border: solid 0px var(--green);
}

#ram-progress-bar {
  border: solid 0px var(--red);
}
