:vars {
  --background: #1a1b28;
  --foreground: #a9b1d6;
  --red: #f7768e;
  --green: #9ece6a;
  --blue: #7aa2f7;
}

* {
  all: unset;
  color: var(--foreground);
  font-family: "JetBrainsMono NerdFont", sans-serif;
  padding: 2px 0px;
}

button {
  background-size: 400% 400%;
}

#date-time {
  font-size: 20px;
  padding: 0px 10px;
  color: var(--foreground);
  border-radius: 5px;
}

#date-time > label,
#workspaces > button > label {
  font-weight: 900;
}

#cpu-glyph,
#ram-glyph {
  font-size: 12px;
}

#cpu-progress-bar,
#ram-progress-bar {
  color: transparent;
  background-color: var(--background);
}

#cpu-progress-bar {
  border: solid 0px var(--green);
}

#ram-progress-bar {
  border: solid 0px var(--red);
}
